
@media screen and  (max-width :478px) {

    .cat{
        display: none;
    }
    #main {
        height: 20px;
        width: 80px;

    }
    .plug {
        padding-right: 0px;
        text-align: center;
    }
    .event {
        padding-right: 350px;
        font-size: 20px;
    }
    .navbar-toggler {
        height: 30px;
        padding: 0;
    }
    .portal {
        width: 40%;
    }
    .start {
        font-size: 30px;
        text-align: center;
    }
    .venture{
        padding: 0px 15px 10px 15px;
    }
    .forbe{
           padding: 0px 15px 10px 15px;
    }
  
    .sahara {
        width: 150px;
        padding-bottom: 10px;

    }
    .mini{
        padding-left: 60px;
        padding-bottom: 5px;
    }
    #rat222{
        display: flex;
        width: 100%;
    }
    #carol {
        width: 10%;
    }
    .add {
        transform: translateY(190px);
        transform: translateX(-150px);
        font-size: 10px;
    }
    .sla{
        width: 70px;
        height: 55px;
        padding: 0px 0px 20px 10px;
    }
    .event{
        margin: 0;
        padding: 0;
        text-align: center;
    }
    #photo{
        height: 400px;
    }
    #hand {
        width: 100%;
        height: 120px;
    }
    .gate {
        transform: translate(-80px, 50px);   
        font-size: 10px;
    }
    .young {
        padding: 0;
        margin: 0;
    }
    .small {
        width: 230px;
    }
    .need{
        width: 230px;
    }
    .high{
        width: 330px;
        padding-left: 40px;
    }
    footer{
        padding: 0;
        margin: 0;
    }
    .program {
        display: block;
        text-align: center;
        padding: 20px 5px 30px;
    }
    .festival {
        text-align: center;
        padding: 20px 5px 0px;
    }
    .career {
        text-align: center;
        padding: 20px 5px 30px;
    }
    .coach{
        display: none;

    }
    .smart {
        transform: translate(-10px,-170px);
        font-size: 30px;
    }
    .plug{
        font-size: 30px;
        text-align: center;
    }
    .reach {
        margin: 0px 0px;
    
    }
    .goal{
        border: 1px solid white;
        padding: 30px 60px 30px 40px;
        margin: 0px 0px 25px;
    }
    #business{
        font-size: 10px;
        padding-left: 10px;
    }
    .reserve{
        font-size: 10px;
        padding-left: 10px;
    }

    
}
