
@media screen and  (max-width :478px) {

    .cat{
        display: none;
    }
 

    #main {
        height: 20px;
        width: 80px;
    }
    .plug {
        padding-right: 0px;
        text-align: center;
    }
    .event {
        padding-right: 350px;
        font-size: 20px;
    }

    .door {
        display: grid;
    }
    .raid {
        display: block;
    }
    .navbar-toggler {
        height: 30px;
        padding: 0;
    }
    .portal {
        width: 40%;
    }
    .start {

        font-size: 30px;
        text-align: center;
        /* padding-left: 30px; */
    }


    .venture{
        padding: 0px 30px 10px;
    }
    .cnbc {
        padding-left: 30px;
        padding-bottom: 10px;
    }
    .made {
        padding-right: 20px;
        padding-bottom: 10px;
        padding-left: 15px;
    }
    
    .sahara {
        width: 150px;
        padding-bottom: 10px;

    }
    #rat222{
        display: flex;
        width: 100%;
    }
    #carol {
        width: 10%;
    }
    .add {
        transform: translateY(190px);
        transform: translateX(-150px);
        font-size: 10px;
    }
    .sla{
        width: 60px;
        height: 40px;
        padding-left: 10px;
    }
    .event{
        margin: 0;
        padding: 0;
        text-align: center;
    }
    #hand {
        width: 100%;
        height: 120px;
    }
    .gate {
        transform: translate(-80px, 50px);
       
        font-size: 10px;
    }
    .young {
        padding: 0;
        margin: 0;
    }
    .small {
        /* padding-left: 10px; */
        width: 200px;
    }
    .need{
        /* padding-left: 10px; */
        width: 200px;
    }
    .high{
        width: 300px;
        padding-left: 100px;
        /* height: 200px; */
    }
    footer{
        padding: 0;
        margin: 0;

    }
    .program {
        display: block;
        padding-right: 0px;
        padding-top: 20px;
        text-align: center;

        padding-bottom: 30px;
    }
    .festival {
        padding-right: 0px;
        padding-top: 20px;
        text-align: center;
    }
    .career {
        padding-right: 0px;
        padding-top: 20px;
        text-align: center;
        padding-bottom: 30px;
    }
    .coach{
        display: none;

    }
    .smart {
        transform: translate(-40px,-50px);
        font-size: 20px;
    }
    .plug{
        /* padding-left: 130px; */
        font-size: 30px;
        text-align: center;
    }
    .reach {
        margin: 0px 0px;
    
    }
    .goal{
        border: 1px solid white;
        margin-left: 0px;
        margin-right: 0px;
        padding: 30px 60px 30px 40px;
        margin-bottom: 25px;
    }

    
}
