
.dropdown {
    position: relative;
    display: inline-block;
}
.program{
    display: none;
}
.logo{
    padding-bottom: 50px;
}
#hand {
    width: 50%;
    height: 120px;
}

.dropdown-content {
    display: none;
    position: absolute;
    padding: 12px 6px;
}
#rat222{
    display: none;
}
.venture{
    padding: 0 60px;
}
.cnbc {
    padding-left: 50px;
}
.made {
    padding-right: 50px;
}

.dropdown:hover .dropdown-content {
    display: block;
    font-size: 12px;
}
.reach {
    margin: 0 40px;
}
.goal{
    border: 1px solid white;
    justify-content: space-around;
    margin-left: 30px;
    margin-right: 10px;
    padding: 30px 60px 30px 40px;
}

.smart {
    position: absolute;
    transform: translateY(-250px);
}

.join {
    position: absolute;
    transform: translateY(-150px);
}
#join {
    transform: translate(-500px,-150px);
}


.smart {
    transform: translate(-200px,-300px);
    font-size: 60px;
}

.round{
    width: 150%!important;
    background-color: azure;
}
.MMI{
    padding-left: 100px;
}
.HGCP{
    padding-right: 100px;
}
.slay {
    padding-left: 100px;
}
.career {
    padding: 200px 200px 0px 0px;
}
.festival {
    padding: 200px 200px 0px 0px;
}
.coach{
    padding: 200px 0px 0px 200px;
}
#business {
    font-size: 15px;
}
